// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.anno-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 255, 111);
    border: 1px solid rgb(253, 255, 111);
    width: 180px;
    height: 35px;;
    border-radius: 2px;
    font-family: 'Muli', sans-serif;

    outline-width: 0;
}


.annotation-box-container {

}

.annotation-hed {
    font-weight: 600;
    font-size: 14px;
}

.annotation-box {
    background-color: pink;
    height: auto;
    width: 300px;
    color: black;
    border-left: 4px solid rgb(134, 146, 230);
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;

}