// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.anno-show-lyrics-container {
    width: 50%;
    height: 100%;
    background-color: white;
    // text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;

}

.anno-show-mini-title {
    color: rgb(154, 154, 154);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
    position: absolute;
}

.anno-show-lyrics {
    // display: inline-block; 
    padding-top: 15px;
    padding-left: 15px;
    font-size: 18px;
    text-align: left;
    white-space: pre-wrap;
    width: 67%;
    line-height: 30px;
    background: transparent;
    position: relative;
    z-index: 0;
}

.anno-show-cont {
    width: 32%;
    height: 100%;
    text-align: right;
    padding-right: 70px;
    // display: inline-block; 
}



.annotation-box-container {
    width: 100%;
    height: 100%;
}


.annotation-hed {
    font-weight: 600;
    font-size: 14px;
}

.annotation-box {
    background-color: white;
    height: auto;
    width: 100%;
    color: black;
    border-left: 4px solid rgb(134, 146, 230);
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.anno-button {
    display: block;
    // color: rgb(0, 0, 0);
    background-color: rgba(213, 213, 213, .5);
    width: 395px;
    height: 31px;;
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: 164px;
    margin-left: 102px;   
    // background: transparent;
    // border: none !important;
    // font-size:0;

}

.anno-button:hover {
    background-color: rgba(253, 255, 111, .5);
}

// .anno-button-highlight {
//     display: block;
//     background-color: rgba(213, 213, 213, 1);
//     width: 395px;
//     height: 31px;;
//     position: absolute;
//     margin-top: 164px;
//     margin-left: 102px;   
//     // z-index: -1;
// }

