// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.anno-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 255, 111);
    border: 1px solid rgb(253, 255, 111);
    width: 180px;
    height: 35px;;
    border-radius: 2px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.annotation-box {
    background-color: pink;
    height: 200px;
    width: 300px;
    color: black;
}