// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-outer-cont {
    background-color: white;
    width: 60%;
    min-width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.comments-inner-cont {
    background-color: rgb(247, 247, 247);
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

// COMMENTS FORM
.comments-form-cont {
    text-align: center;
    width: 94%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(247, 247, 247);
}

.comment-form {
    text-align: left;
    padding-left: 20px;
}

.comment-textarea {
    width: 60%;
    font-family: 'Muli', sans-serif;
    border: 0;
    border: 2px solid rgb(213, 213, 213);
    background-color: white;
    color: rgb(113, 113, 113);
    height: 120px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-textarea:focus {
    outline-width: 0;
}

.comment-submit-button {
    border: 3px solid rgb(84, 200, 53);
    background-color: white;
    color: rgb(84, 200, 53);
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.comment-submit-button:focus {
    outline-width: 0;
}

//comment login version
.comments-login-card-cont {
    text-align: left;
    padding-left: 20px;
    border: 2px solid rgb(213, 213, 213);
    color: rgb(113, 113, 113);
    width: 60%;
}

.comment-login-card {
    width: 40%;
    font-family: 'Muli', sans-serif;
    border: 2px solid rgb(213, 213, 213);
    background-color: white;
    color: rgb(113, 113, 113);
    height: 20px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    min-width: 230px;
    white-space: nowrap;

    a:link {
        color: rgba(134, 146, 230, 1);
    }

    a:visited {
        color: rgba(134, 146, 230, 1);
    }

    a:hover {
        color: rgba(134, 145, 230, 0.7);
    }

    a:active {
        color: rgba(134, 145, 230, 0.7);
    }
}

//COMMENTS LIST AND ITEMS
.comments-list-cont {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

.comments-list {
    display: inline-block;
    width: 90%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    padding-left: 15px;
    padding-right: 15px;
}

.comments-list-ul {
    list-style: none;
    padding: 0;
}

.comments-item-li {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: solid 1px rgb(134, 146, 230);
}

.comments-author {
    padding-bottom: 15px;
    font-weight: 600;
}

.comment-del-button-cont {
    padding-top: 15px;
}

.comments-del-button {
    border: none;
    background-color: transparent;
    color: rgb(113, 113, 113);
    cursor: pointer;
}

.comments-del-button:focus {
    outline-width: 0;
}

.comments-del-button-text {
    font-size: 12px;
    padding-left: 5px;
    padding-top: 25px;
    color: rgb(73, 73, 73);
}
