.ingenious-app {
    width: 100%;
    height: 100%;
    min-width: 580px;

    @media screen and (max-width: 600px) {
        max-width: 600px;
    };
}

.main-header-container {
    display: block;
    width: 100%;
    height: 41px;

    @media screen and (max-width: 1040px) {
        width: 100%;
    };
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgb(253, 255, 111);
    color: rgb(0, 0, 0);
    font-family: Geneva, sans-serif;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1040px) {
        justify-content: center;
    };
}

.search-bar-container {
    display: flex;
    flex: 1;
    margin-left: 5px;

    @media screen and (max-width: 1040px) {
        display: none;
    };
}

.search-bar-input {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border: none;
    height: 29px;
    width: 220px;
    padding-left: 0.5rem;
}

.search-bar-input:focus {
    outline-width: 0;
}

.search-bar-input:disabled {
  background: #fff;
}

.search-bar-input:hover {
  cursor: not-allowed;
}

::placeholder {
  color: black;
}

.ingenious-header-container {
    height: 100%;
}

.ingenious-header {
    font-family: 'Mitr', sans-serif;
    text-decoration: none;
    color: rgb(253, 255, 111);
    text-shadow: -2px 2px 0px black, -1.5px 1.5px 0px black, -1px 1px 0px black;
    font-size: 24px;
    letter-spacing: 7px;
    margin-bottom: 3px;
}

.session-btn-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    white-space: nowrap;

    @media screen and (max-width: 1040px) {
        justify-content: inherit;
        flex: inherit;
        padding-left: 15px;
    };
}

.session-btn {
    align-items: center;
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 100%;
    letter-spacing: 1px;
    padding-right: 15px;
    text-decoration: none;
}

.nav-bar {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 41px;
    text-align: center;

    @media screen and (max-width: 1040px) {
        width: 100%;
    };
}

.nav-bar-list-ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1040px) {
        padding: 0px;
    };
}

.nav-bar-item {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: small;
    color: white;
    letter-spacing: 1px;
}

.nav-bar-item:hover {
    color: rgb(253, 255, 111);
}

.nav-bar-item-pipe {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: small;
    color: white;
    padding: 0 35px;
    margin-bottom: 2px;

    @media screen and (max-width: 1040px) {
        padding: 0 10px;
    };
}

.nav-bar-icons-li {
    display: flex;
    justify-content: space-between;
}

.nav-bar-item-icon {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: small;
    color: white;
    margin-right: 26px;

    @media screen and (max-width: 1040px) {
        margin-right: 11px;
    };
}

.nav-bar-item-icon:hover {
    color: rgb(253, 255, 111);
}

.username-header {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-family: 'Muli', sans-serif;
    width: auto;
    position: relative;
}

.logout-header-btn {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    width: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.logout-header-btn::before {
    content: '';
    display: block;
    height: 6px;
    background-color: rgb(254, 0, 98);
    position: absolute;
    top: 15px;
    right: 9px;
}

.logout-header-btn:hover::before {
    width: 75%;
}

.fa-icon {
    font-size: 19px;
}

.footer-container {
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 75px 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-tagline {
    font-size: 36px;
    font-weight: 400;
    width: 55%;

    @media screen and (max-width: 1040px) {
        width: 40%;
    };
}

.footer-list-ul {
    list-style-type: none;
    padding-left:0;
    padding-top: 20px;
    height: auto;
    white-space: nowrap;
    width: 55%;

    @media screen and (max-width: 1040px) {
        width: 40%;
    };
}

.footer-list-li {
    height: auto;
    width: auto;
}

.footer-icon {
    color: white;
    font-size: 30px;
}

.footer-gen {
    text-decoration: none;
    margin-top: 150px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    width: 55%;

    @media screen and (max-width: 1040px) {
        width: 40%;
    };
}

.footer-byline {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    width: 55%;

    @media screen and (max-width: 1040px) {
        width: 40%;
    };
}

.footer-byline-link {
    color: white;
}

.footer-byline-link:hover {
    color: rgb(254, 0, 98);
}

.footer-disclaimer {
    padding-top: 30px;
    font-size: 11px;
    font-weight: 400;
    width: 55%;

    @media screen and (max-width: 1040px) {
        width: 40%;
    };
}
