// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .ingenious-app {
    background-color: rgb(253, 255, 111);
    width: auto;
    height: auto;
 }

.signup-form-container {
    background-color: black;
    color: white;
    font-family: Geneva, sans-serif;
    min-height:100vh;
    padding-top: 30px;
}

.signup-headings {
    text-align: center;
}

.signup-form-box {
    background-color: rgb(14, 14, 14);
    width: 380px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-top: 1px solid rgb(39, 39, 39);
    border-radius: 2px;
}

.signup-form-header {
    color: rgb(253, 255, 111);
    font-family: Geneva, sans-serif;
    text-align: center;
    font-size: 50px;
    // font-stretch: ultra-condensed;
    // font-size: 40px;
    // line-height: 80px;
}

.signup-form-subhead {
    color: rgb(253, 255, 111);
    font-family: Geneva, sans-serif;
    text-align: center;
    font-size: 20px;
    // font-weight: 400;
}

.signup-label {
    color: rgb(236, 232, 233);
    font-size: 13px;
    font-weight: bold;
}

.signup-input {
    color: rgb(204, 204, 204);
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 2px;
    width: 360px;
    height: 30px;
}

.hyperlink-color {
    color: rgb(112, 167, 193);
}

.hyperlink-color:hover {
    color: rgb(175, 207, 221);
}

.session-submit-button {
    color: rgb(230, 230, 230);
    background-color: rgb(38, 38, 38);
    border: 1px solid rgb(68, 68, 68);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}

.session-demo-user-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 255, 111);
    border: 1px solid rgb(253, 255, 111);
    width: 380px;
    height: 35px;;
    border-radius: 2px;
}

.session-demo-user-button:hover {
    background-color: rgb(254, 255, 183);
}

.signup-username-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(230, 230, 230);
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(54, 54, 54);
    width: 380px;
    height: 35px;;
    border-radius: 2px;
}

.signup-username-button:hover {
    background-color: rgb(81, 81, 81);
}


.error-messages {
    color: rgb(230, 230, 230);
    background-color: rgb(34, 34, 34);
    font-family: Geneva, sans-serif;
    font-size: 14px;

}