// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tracks-index-container {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
  
}

.tracks-index-header {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
}

.tracks-index-subhead {
    width: 100%;
    height: 100%;
    color: rgb(235, 46, 102);
    text-align: center;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
}



.tracks-index-ol {
    // list-style-type: none;    
    width: 60%;
    display: inline-grid;
    padding-left: 0;
    justify-items: start;
    // align-items: stretch;
    // align-content: center;
    // align-content: space-evenly;
}

.tracks-index-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border-bottom: 2px solid rgb(233, 233, 233);
    text-align: left;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.tracks-index-li:hover {
    background-color: rgb(233, 233, 233); 
    height: 100%;
    width: 100%;
}

.chart-num {
    padding-top: 29px;
    padding-left: 10px;
    font-size: 24px;    
    // padding-right: 40px;
    width: 40px;
    color: black;
}

.chart-img {
    padding-top: 20px;
    // padding-right: 30px;
    width: 60px;
    color: black;
}

.chart-title {
    padding-top: 29px;
    font-size: 24px;
    font-weight: 700;  
    width: 310px;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chart-lyr {
    color: rgb(154, 154, 154); 
    font-size: 12px;  
    font-weight: 600;
    // padding-right: 40px;
}


.chart-artist {
    padding-top: 29px;
    font-size: 24px;  
    // padding-right: 40px;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}


.fire-icon {
    padding-top: 30px;
    color: rgb(235, 46, 102);
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    // padding-right: 40px;
    width: 50px;
}

.views-icon {
    padding-top: 30px;
    color: black;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    // padding-right: 40px;
    width: 70px;
}
