// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tracks-index-container {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 25px;
}

.tracks-index-header {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
}

.tracks-index-subhead {
    width: 100%;
    height: 100%;
    color: rgb(235, 46, 102);
    text-align: center;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 40px;
}

.tracks-index-ol {
    width: 60%;
    display: inline-grid;
    padding-left: 0;
    justify-items: start;
}

.tracks-index-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(233, 233, 233);
    text-align: left;
    width: 100%;
    height: auto;
}

.tracks-index-li:hover {
    background-color: rgb(233, 233, 233);
    height: 100%;
    width: 100%;
}

.chart-num {
    padding-top: 27px;
    padding-left: 20px;
    font-size: 24px;
    width: 40px;
    color: black;
}

.chart-img {
    padding-top: 13px;
    width: 60px;
    color: black;
}

.chart-title {
    padding-top: 27px;
    padding-left: 5px;
    font-size: 24px;
    font-weight: 700;
    width: 290px;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chart-lyr {
    color: rgb(154, 154, 154);
    font-size: 12px;
    font-weight: 600;
}

.chart-artist {
    padding-top: 27px;
    font-size: 24px;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.fire-icon {
    padding-top: 36px;
    color: rgb(235, 46, 102);
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    width: 50px;
}

.views-icon {
    padding-top: 36px;
    color: black;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    padding-right: 20px;
    width: 70px;
}

.load-more-button-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 50px;
}

.load-more-button {
    border: 2px solid black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.load-more-button:hover {
    background-color: black;
    color: white;
}

.load-more-button:focus {
    outline-width: 0;
}
