////// TRACKS SHOW PAGES //////

.tracks-show-container {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.tracks-show-outer-hed-container {
    width: 100%;
    height: 280px;
    // background-color: rgb(192, 93, 167);
    // background-image: url("https://images.unsplash.com/photo-1524351543168-8e38787614e9");
    background-image: url("./armand-khoury-4cBVro7SHLs-unsplash.jpg");
}

.tracks-show-hed-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    height: 100%;
    display: inline-block; 
    // text-align: center;
}

.tracks-show-hed-img-container {
    width: 90%;
    padding-top: 32px;
    padding-right: 120px;
    left: -20px;
    // display: inline-block; 
    position: relative;
}

.tracks-show-img {
    width: 216px;
    height: 216px;
    border: 2px solid rgb(154, 154, 154);
    float: left;
    // left: -20px;
}

.tracks-show-hed-words-container {
    width: 60%;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

.tracks-show-title {
    color: rgb(253, 255, 111);
    font-size: 36px;
    font-weight: 700;
    width: auto;
    height: auto;
    text-align: left;
}

.tracks-show-artist {
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: auto;
    height: auto;
    text-align: left;
}

.tracks-show-alb-txt {
    color: rgb(154, 154, 154);
    font-weight: 600;
    width: auto;
    height: auto;
    text-align: left;
}

.tracks-show-album {
    color: rgb(134, 146, 230);
    font-weight: 600;
    width: auto;
    height: auto;
    text-align: left;
}
